<%= render "shared/header" %>
<div class="recipe-contents">
  <div class="recipe-left">
    <h2 class='title'><%= params[:keyword] %>のレシピ一覧</h2>
    <ul class="recipe-lists">
      <% if @recipes.present? %>
        <% @recipes.each do |recipe| %>
          <li class="recipe-list">
            <%= link_to recipe_path(recipe.id) do %>
              <div class='recipe-img-content'>
                <%# <%= image_tag recipe.image, class: "recipe-img" %>
                <%= image_tag(recipe.image) if recipe.image.attached? %>
              </div>
            <% end %>
            <div class='recipe-info'>
              <h3 class='recipe-title'>
                <%= recipe.title %>
              </h3>
              <h3 class="recipe-user">
                <span class="by">by</span><%= link_to user_path(recipe.user.id) do %><%= recipe.user.nickname %><% end %>
              </h3>
            </div>
          </li>
        <% end %>
      <%else%>
      <h2 class='title'><%= params[:keyword] %>のレシピはまだありません</h2>
      <% end %>
    </ul>
  </div>
  <div class="recipe-right">
    <div class="right-top">
      <%= link_to 'レシピを作成する', new_recipe_path, class: "new-btn" %>
    </div>
    <div class="favorite">
    </div>
  </div>
</div>